
@media screen and (min-width:769px) and (max-width:991px){
    .social-icons{
        margin-top: 30px;
    }
    .other-days{
        height: auto !important;
    }
    
}

@media screen and (min-width:601px) and (max-width:768px){
    .social-icons{
        margin-top: 30px;
    }
    .other-days{
        height: auto !important;
    }

}

@media screen and (max-width:600px){
    .social-icons{
        margin-top: 30px;
    }
    .weather{
        padding-left: 15px;
        padding-right: 15px;
    }
    .other-days{
        height: auto !important;
    }

}